<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="Org-vbiriukov" value="https://nuget.pkg.github.com/org-vbiriukov/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Org-vbiriukov>
      <add key="Username" value="vbiriukov"/>
      <add key="ClearTextPassword" value="11028674e76366899d8b495cf5e933e2b4186a1d" />
    </Org-vbiriukov>
  </packageSourceCredentials>
</configuration>
